* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Pixeled';
    src: url('./fonts/Pixeled.woff2') format('woff2'),
        url('./fonts/Pixeled.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    background-color: #09090b;
    height: 100vh;
    display: grid;
    grid-template-rows: 100px auto ;
    grid-template-columns: 300px auto;
}
header {
    display: flex;
    justify-content: center;
    grid-row: 1;
    grid-column: 1 / 3;
    box-shadow: 0 1px 0px 0px #29ff00;
    padding: 15px;
}

.sidebar {
    grid-row: 2 / 3;
    grid-column: 1;
    box-shadow: 2px 0px 0px 0px #29ff00;
}

.content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(20px, 200px));
    padding: 20px;
    gap: 20px;
    margin-bottom: 10px;
}

.todo {
    border: 2px solid blue;
    background-color: transparent;
    padding: 15px;
    display: grid;
    font-family: Pixeled;
    align-content: flex-start;
    position: relative;
}

.todo div:first-child {
    display: flex;
    position: relative;
}

.todo span {
    font-size: 10px;
    margin-left: auto;
}

.completed {
    color: green;
}
.not-completed {
    color: red;
}

h2 {
    color: white;
    font-size: 15px;
    margin-left: 50px;
}

.dis {
    margin-top: 10px;
    color: rgba(198, 198, 198, 0.5);
    overflow: hidden;
    text-overflow: ellipsis; 
    font-size: 10px;
}

input[type="radio"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  margin-top: 5px;
}
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 30px;
  width: 30px;
  background-color: transparent;
  margin-top: 5px;
  border-radius: 50%;
  border: 2px solid green;
  pointer-events: none;
}

.todo div:first-child input:checked ~ .checkmark {
  background-color: green;
} 


::selection {
    background-color: purple;
}

.close {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: transparent;
    padding: 5px;
    border: 1px solid red;
    color: white;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    top: -12px;
    right: -15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.close:hover {
    background-color: red;
}

dialog {
    width: 300px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

form {
    display: flex;
    flex-direction: column;
    background-color: black;
    padding: 20px;
    color: green;
    border: 1px solid green;
}

form h2 {
    color: green;
    text-align: center;
    margin-left: 0;
    margin-bottom: 15px;
}

label {
    font-size: 10px;
    color: blue;
    margin-bottom: 10px;
}

textarea {
    margin-bottom: 15px;
    height: 100px;
    resize: vertical;
    background-color: transparent;
    border: 1px solid green;
    color: white;
    padding: 5px;
}

input {
    background-color: transparent;
    border: 1px solid green;
    color: white;
    padding: 5px;
}
textarea:focus, input:focus {
    border: none;
}


select {
    background-color: black;
    color: white;
    border: 1px solid green;
    padding: 5px;
}

.dialog-close,
.open-diolog,
.edit,
.add-todo,
.addproject
 {
    font: inherit;
    font-size: 10px;
    width: 100px;
    margin: auto;
    background-color: transparent;
    border: 1px solid red;
    color: white;
    cursor: pointer;
}

.edit,
.add-todo,
.addproject {
    margin-top: 5px;
}
.dialog-close:hover, .open-diolog:hover, .edit:hover, .add-todo:hover, .addproject:hover {
    background-color: red;
}

.open-diolog {
    position: absolute;
    bottom: 15px;
    right: 15px;
}

.todo span.due-date {
    margin-left: 0;
    margin-bottom: 10px;
}


form span:first-child {
    color: blue;
}


footer {
    font-size: 8px;
    text-align: center;
    bottom: 10px;
    font-family: Pixeled;
    width: 100%;
    position: fixed;
    color: yellow;
}

.priority {
    border: 1px solid;
    padding: 0 15px;
}

.add {
    font-family: Pixeled;
}

.add-button {
    position: absolute;
    width: 120px;
    padding: 5px;
    background: transparent;
    color: white;
    border: 1px solid blue;
    bottom: 25px;
    right: 20px;
    cursor: pointer;
    font-family: 'PIXELED';
    font-size: 8px;
}


.add-button:hover {
    background-color: blue;
}


.sidebar h2 {
    margin: 22px;
    margin-bottom: 50px;
    font-family: 'Pixeled';
    box-shadow: 2px 6px 1px 0px blue;
}

ul {
    display: flex;
    flex-direction: column;
    gap: 50px;
    list-style: none;
    margin: 20px;
}

li {
    width: 100%;
    position: relative;
}

ul li button:first-child {
    box-sizing: border-box;
    background-color: transparent;
    font-family: Pixeled;
    color: white;
    font-size: 10px;
    border: none;
    box-shadow: 0px 1px yellow;
    padding-bottom: 20px;
    width: 100%;
    cursor: pointer;
}
ul li button:last-child {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: transparent;
    border: 1px solid red;
    color: white;
    position: absolute;
    top: 11px;
    right: 10px;
    cursor: pointer;
}

ul li button:last-child:hover {
    background-color: red;
}

ul li button:first-child:hover {
    background-color: yellow;
    color: black;
}

h1 {
    color: white;
    font-family: Pixeled;
    font-size: 15px;
    position: relative;
    width: fit-content;
    height: fit-content;
}

.sidebar span {
    font-family: 'Pixeled';
    font-size: 10px;
    display: block;
    width: 90%;
    text-align: center;
    color: chartreuse;
    margin: auto;
    margin-bottom: 15px;
    border: 1px solid;
}

.sidebar .newproject {
    position: absolute;
    bottom: 18px;
    left: 35%;
    padding: 7px;
    color: white;
    background: transparent;
    border: 1px solid;
    font-family: 'Pixeled';
    font-size: 7px;
    cursor: pointer;
}


.sidebar .newproject:hover {
    background-color: green;
    color: black;
    box-shadow: 0 0 10px 4px green; /* Glow effect */
}

.sidebar {
    position: relative;
}

.sidebar dialog {
    font-family: Pixeled;
}